@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Spiegel";
  src: url("fonts/Spiegel-OTF/Spiegel-Regular.otf") format("opentype")
}
@font-face {
  font-family: "BeaufortForLoL";
  src: url("fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf") format("opentype")
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

:root {
  font-family: Spiegel;
  color: #A09B8C;
  background-color: #0A323C;
}

h1{
  font-family: BeaufortForLoL;
}

.navbar{
  box-shadow: 0px 6px 5px #010A13;
}

.title{
  margin-left: 1%;
}

.mainBox{
  min-height: 88.2vh;
  width: 80vw;
}

.loginBox{
  background-color: #091428;
  background-image: url("./images/bg-img.jpg");
  background-size: cover;
}

.bg-card{
  background-color: #1E282D;
  box-shadow: 4px 4px 5px #1E2328;
}

.bg-box{
  background-color: #1E282D;
  box-shadow: 4px 4px 5px #1E2328;
}

.bg-btn{
  background-color: #005A82;
}
.bg-btn-del{
  background-color: #ba190d;
}
